<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerAli</key>
	<string>http://121.42.36.47/lala/photo/</string>
	<key>ServerAliScripts</key>
	<string>http://121.42.36.47/lala/scripts/</string>
	<key>Server</key>
	<string>http://localhost:80/LALA/</string>
	<key>ImageT</key>
	<string>TEST_PHOTOS/</string>
	<key>ImageIcon</key>
	<string>USER_ICONS/</string>
	<key>ImageMain</key>
	<string>MAIN_PHOTOS_FROM_USER/</string>
	<key>ImageAD</key>
	<string>AD_PHOTOS/</string>
</dict>
</plist>
